<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tinyweight Boilerplate</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <a href="../"><h1>Tinyweight Express Boilerplate <span id="versionNumber">v{{package.version}}</span></h1></a>

{{{body}}}

</body>

<footer>
    <hr>
    <span><a href="{{package.author.url}}">StartOut 2024</a></span><br>
    <span><a href="mailto:{{package.author.email}}">{{package.author.name}}</a></span><br>
</footer>
</html>
